
aside.detalle-Activado {
    background: white;
    position: relative;
    top: 56px;
    z-index: 30;
    height: 85vh;
    width: 100%;
    max-width: 264px;
    right: 0;
    padding: 14px;
    border-left: 1.5px solid black;
    border-top: 1.5px solid;
    border-bottom: 1.5px solid;
    display: inline-block;
    position: fixed;
    border-radius: 16px 0 0 16px;
    overflow: auto;
}
.containerCerrar {
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 16px;
}

.containerIconoCerrar {
    font-family: cursive;
    font-size: 28px;
    cursor: pointer;
}
.containerIconoCerrar:hover {
    color: red;
}

aside.detalle-Inactivo {
    display: none;
}
img.imgenOrderProduct {
    max-width: 70px;
    border-radius: 4px;
    height: 56px;
}
.containerImgTitleMyOrden {
    display: flex;
    gap: 10px;
    font-family: cursive;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.containerCardOrder {
    display: flex;
    gap: 10px;
    -webkit-box-shadow: 1px -1px 12px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 1px -1px 12px -8px rgba(0,0,0,0.75);
box-shadow: 1px -1px 12px -8px rgba(0,0,0,0.75);
border-radius: 8px;
    padding: 9px;
}


p.textoPrecioMyOrder {
    font-family: cursive;
    font-size: 13px;
    font-weight: 600;
}

p.titleCardMyOrder {
    font-size: 12px;
}
span.eliminarItemAgregado {
    font-family: cursive;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

span.eliminarItemAgregado:hover {
    color: red;
    font-size: 20px;
}

p.precioTotalOrden {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-family: cursive;
    color: #61737b;
}

.containerTotalOrden {
    margin-top: 16px;
}